.container {
  background-color: rgb(99, 99, 250);
  color: azure;
  width: 20%;
  margin: 30px auto 30px;
  padding: 30px;
}

.image-container img {
  border-radius: 50%;
}

.title h5 {
  margin-top: 12px;
  margin-bottom: 0px;
}

.title p {
  margin-top: 5px;
  font-size: xx-small;
  margin-bottom: 30px;
}

.abt {
  font-size: large;
}

button {
  height: 40px;
  width: 120px;
  background-color: rgb(254, 255, 252);
  color: rgb(99, 99, 250);
  border-radius: 50px;
  border-style: none;
  font-size: large;
  font-weight: bolder;
}
